/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
:root {
	scroll-padding-top: 20px;
}


html {
	scroll-behavior: smooth;
	
}

@media (min-width: 992px) {
	:root {
		scroll-padding-top: 120px;
	}
	
}


/*	Pricing
-----------------------------------------------------------------*/
.price-wrap {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 0px 25px;
	margin: 0 0 20px;
}

.price-header {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: baseline;
	align-items: baseline;
	position: relative;
	margin: 0 0 13px;
}

.price-header a{
	color: #eee;
}

.price-name {
	padding-right: 10px;
}

.price-name span {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-family: 'PT Sans Caption';
}

.price-dots {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

@media (max-width: 768px) {
	.price-dots {
		display: none;
	}
}

.separator-dots {
	width: 100%;
	border-bottom: 1px dashed #888;
}

.price-price {
	font-size: 20px;
	font-weight: 700;
	padding-left: 10px;
}

p.price-desc {
	font-size: 14px;
	color: #888;
}

.product .product-image a.shop-icon {
	width: 50px;
	height: 50px;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
	font-size: 22px;
	line-height: 1;
	-webkit-transition: top .3s ease;
	-o-transition: top .3s ease;
	transition: top .3s ease;
}

.product .product-image a.shop-icon i {
	padding: 15px;
	background-color: #bF9456;
	color: #111;
	border-radius: 50%;
	-webkit-transition: background-color .3s ease;
	-o-transition: background-color .3s ease;
	transition: background-color .3s ease;
}

.product .product-image a.shop-icon:hover i { background-color: #FFF; }

.product-title h3 a {
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 1px;
}

.product-desc {
	border-bottom: 2px dashed #ededed;
	border-left: 2px dashed #ededed;
	border-right: 2px dashed #ededed;
}

.product-price del {
	color: #BBB;
	font-weight: 700;
}

.text-shadow {
	text-shadow: 0px 0px 3px rgba(0,0,0,0.8);
}

a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

@media (max-width: 768px) {
	a.anchor {
		top: -20px;
	}
	.second-logo {
		margin: auto;
		margin-bottom: 30px;
		width: 200px;
		height: 200px;
	}
}



@media (min-width: 768px){
.second-logo {
	margin: auto;
	width: 250px;
	height: 250px;
}
}

@media (min-width: 992px){
	.second-logo {
		margin-left: 100px;
		width: 300px;
		height: 300px;
	}
	}

	.grecaptcha-badge { 
		visibility: hidden;
	}